@font-face {
  font-family: 'Gong Gothic';
  font-style: normal;
  font-weight: 300;
  src: url(./Gong Gothic Light.eot);
  src: local('Gong Gothic Light'),
       local('Gong Gothic-Light'),
       url(./Gong Gothic Light.eot) format('embedded-opentype'),
       url(./Gong Gothic Light.woff) format('woff'),
       url(./Gong Gothic Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Gong Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(./Gong Gothic Medium.eot);
  src: local('Gong Gothic Medium'),
       local('Gong Gothic-Medium'),
       url(./Gong Gothic Medium.eot) format('embedded-opentype'),
       url(./Gong Gothic Medium.woff) format('woff'),
       url(./Gong Gothic Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Gong Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(./NGong Gothic Bold.eot);
  src: local('Gong Gothic Bold'),
       local('Gong Gothic-Bold'),
       url(./Gong Gothic Bold.eot) format('embedded-opentype'),
       url(./Gong Gothic Bold.woff) format('woff'),
       url(./Gong Gothic Bold.ttf) format('truetype');
}
