@charset "UTF-8";
@import url("../fonts/nanumbarungothicsubset.css");

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

ul {
    list-style:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color:inherit;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

input,button {
    vertical-align:middle;
    border:0; outline:0;
     background:transparent;
     appearance: none; /*브라우저마다 가지고 있는 폼디자인은 없앰*/
     -webkit-appearance:none;
     border-radius: none;  /*폼에 radius디자인 없앰*/
}

body{line-height: 1;
    /* 모바일 사파리에서 텍스트 크기가 자동으로 조정되는것을 막아줌 */
    text-size-adjust:none;
    -webkit-text-size-adjust:none;}


img, video, iframe {border:0; outline:0; max-width: 100%; }
a, span, strong{display:inline-block;}
strong {font-weight: 400;}

.cl::after {content:""; display:block; clear:both;}
.cl::before {content:""; display:block;}
.blind {position:absolute; width:0; height:0; display:block; line-height:0; overflow:hidden;}

html {font-size:12px; background:#dbe6db;}
html, body {width:100%; height:100%;}
body {font-family:"NanumBarunGothic", sans-serif; color:#333;
     word-wrap:break-word; word-break: keep-all; overflow-x:hidden; }
p{line-height: 1.5;}
     /* word-wrap:break-word; 강제 줄바꿈 */

/* 스프라이트 */
.gnb_icon, .user_icon, .gnb_home_icon,
.icon_search, .icon_open, .prev, .next,
.icon_social li, .icon_close , .quick_menu_list li a::before
{background:url(../images/common/icon.png) no-repeat;
  background-position: 0 0; background-size:135px 125px; }

/* 아이콘영역 폰트 투명하게 */
.gnb_icon, .user_icon, .gnb_home_icon, .icon_social {font-size:0;}

/* header */
.header{position:relative; z-index: 500; width:100%; background: #fff;}
.header_in {position:relative; padding:15px 0;}
.gnb_icon{position:absolute; left:15px; top:19px; width:18px; height:14px;}
.user_icon{position:absolute;right:15px; top:17px; width:16px; height:18px;
            background-position: 0 -25px;}
.logo {text-align: center; }
.logo a{width:28%;}

/* gnb */
.gnb {width:100%; height:100%; overflow: hidden;
      position:fixed; left:-100%; top:0; z-index: 999;}
      /* 제이쿼리 left: 0; */
.gnb .btn_close {position:absolute; right:15px; top:15px; }
.gnb .btn_close .icon_close {width:20px; height:20px; background-position:-60px -75px; }

.gnb_area {width:70%; height: 100%; background: #fff;
          position:absolute; left:0; top:0; }

.gnb_header {width:100%; height: 50px; background:#055344; position:relative;}
.gnb_home_icon {position:absolute; right:20px; top:20px; width:20px; height:20px;
                background-position:-90px 0; z-index: 20;}
.gnb_header .radius{display: flex; position: absolute; top:33px; left:0;
                    width:100%; height: 100%;}
.gnb_header .radius span {display: block;  width:9vw; height:9vw;
                  background:#055344;border-radius:50%; }

.search {position:relative;width:80%; height:30px; margin:40px auto 0;}
.search fieldset { border:1px solid #e2e2e2; }
.search .window input {width:85%; height:30px;display: inline-block;
                      box-sizing: border-box; font-size: 12px;}
.search .btn_search{width:15%; height:100%; background:#055344;
                    position:absolute; right:0; top:1px; padding:0 3px; }
.search .icon_search {position: relative; width:15px; height:15px;
                      transform: translateX(-50%); left:50%; top:8px;
                      background-position:-90px -25px;}

.gnb_list{padding-top:30px; position: relative;}
.gnb_list .tit{font-size: 16px; color:#055344;  width:100%; padding: 12px 15px; box-sizing: border-box;
              border-bottom:1px solid #e2e2e2; position: relative;}
.gnb_list .btn_open{position: absolute; right:15px; top:9px;}
.gnb_list .icon_open {width:17px; height: 9px; background-position: -90px -50px;}
/* 제이쿼리 */
.gnb_list .tit.on .icon_open{background-position: -90px -75px;}

.lnb {background:#dbe6db; width:100%; display: none; font-size: 14px;}
.lnb li {padding:15px 0 15px 20px; border-bottom: 1px solid #ccd9cc;}
.lnb li:last-child{ border-bottom: 0;}

.gnb_footer {background:#4e4e4e; color:#cfcfcf; width:100%; padding:20px 0 30px;
              position:absolute; bottom:0; left:0; text-align: center;}
.gnb_footer span {padding:0 2px;}

.overlay {background: rgba(0,0,0,0.8); display: none;
          position:fixed; left:0; top:0; right:0; bottom:0; }
/* footer */

.fbottom  {font-size: 12px;}
.footer .ftop {background:#dbe6db; border-top:1px solid #4e4e4e; width:100%; margin:0 auto; }
.footer .ftop-list {padding:12px 5px; }
.footer .ftop-list li { float: left; }
.footer .ftop-list li span {padding:0 3px;}

.fbottom {background:#4e4e4e; color:#cfcfcf; padding:20px 0;}
.fbottom .in { width:100%;}
.fbottom .f_box{ float:left; width:40%; text-align: center; display: inline-block;
                  border:1px solid #cfcfcf; padding:5px; box-sizing: border-box;}

.fbottom .f_box .tel {font-size: 14px; font-weight: 700;}
.fbottom .info{width:50%; float:left; margin-left:4%;}
.footer .cpr { color:#cfcfcf;  text-align: center; padding:20px 0;}


/* end */
