@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 400;
  src: url(./NotoSansKR-Regular.eot);
  src: local('NotoSansKR-Regular'),
       local('NotoSansKR Regular'),
       url(./NotoSansKR-Regular.eot) format('embedded-opentype'),
       url(./NotoSansKR-Regular.woff2) format('woff2'),
       url(./NotoSansKR-Regular.woff) format('woff'),
       url(./NotoSansKR-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 500;
  src: url(./NotoSansKR-Medium.eot);
  src: local('NotoSansKR-Medium'),
       local('NotoSansKR Medium'),
       url(./NotoSansKR-Medium.eot) format('embedded-opentype'),
       url(./NotoSansKR-Medium.woff2) format('woff2'),
       url(./NotoSansKR-Medium.woff) format('woff'),
       url(./NotoSansKR-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 700;
  src: url(./NotoSansKR-Bold.eot);
  src: local('NotoSansKR-Bold'),
       local('NotoSansKR Bold'),
       url(./NotoSansKR-Bold.eot) format('embedded-opentype'),
       url(./NotoSansKR-Bold.woff2) format('woff2'),
       url(./NotoSansKR-Bold.woff) format('woff'),
       url(./NotoSansKR-Bold.ttf) format('truetype');
}
