@charset "UTF-8";

 :root {
   --main-color:#f8b500;
 }

/*========================= header ========================= */
/* pc - layout */
.headerContainer {height:88px; box-sizing: border-box; border-bottom:1px solid #e5e5e5; background:transparent; position: fixed; top:0; left:0; z-index: 9999; width:100%; overflow:hidden; transition: 0.4s;}
.headerContainer.scroll {border-bottom:1px solid rgba(248,248,248,0.5) ; background:rgba(255,255,255,0.8) ;}
.headerContainer.on {background: #fff; height:320px; transition: 0.4s;}
.header {padding: 0 36px; text-align: center;}
.header .logoWrap {width:150px; line-height: 88px; display: inline-block; float:left;}
.header .logoWrap img {width:100%;}
.header .gnbWrap {width:750px; display: inline-block;}
.header .gnb-area  {position:relative; left:0;top:0;}
.header .gnb-area > li {width:150px; display:block; height:380px; position:relative; float:left; box-sizing: border-box; cursor: pointer;}
.header .gnb-area > li > p {font-size: 17px; line-height: 88px; color:#111; font-weight: bold;}


/* gnb-on */
.header ul {list-style: none; padding:0; margin:0;}
.header ul p {margin-bottom:0;}
.header .gnb-area > li > p:hover {color:var(--main-color);}

.header .gnb-area > li:before {content:""; width:0%; height:3px; display: block; background:var(--main-color); position: absolute; top:0px; left:0; }
.header .gnb-area > li:hover:before {width:100%; transition: 0.5s;}
/* .header ul.gnb-area > li:hover {background: #fff;} */
.header  .lnb-area > li  > p{font-size: 15px; color:#666; padding: 10px 0; position:relative; display: inline-block;}
.header  .lnb-area > li  > p:hover{color:var(--main-color);}
.header  .lnb-area > li  > p:before{content:""; width:0%; height:1px; display: block; background:var(--main-color); position: absolute;bottom:8px; left:0;}
.header  .lnb-area > li  > p:hover:before{width:100%; transition: 0.5s;}
.menu-btn { border:none; outline: none; background-color:transparent; display: none;}
.mobile-nav-top {display: none;}
/* 지점찾기 */
.search-area {position:fixed; right:0; top:0px; z-index: 10000;}
.search-area.on {z-index: 100;}
.btn-agency { background: #504d4a; color:#fff; font-size: 16px; height:88px; padding-left:30px; padding-right:90px; border:none; position:relative;}
.btn-agency:after {content:""; display: block; width:20px; height:20px; background: url(../../images/up.png) no-repeat; position: absolute; right:30px; top:40px; }
.btn-agency.on:after {background: url(../../images/down.png) no-repeat;}
.search-agency-area {display: none; position:fixed; right:0; background: #504d4a; padding:38px 28px; width:426px; box-sizing: border-box;}
.search-agency-area.on {display: block;}
.search-list-tit {color:#fff; font-size: 20px; width: 80px; display: inline-block;}
.search-list select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;}
.search-list select {width:calc(100% - 84px); border:none; color:#fff; background: transparent url(../../images/select.png) no-repeat right; border-bottom: 1px solid #7a7875; font-size: 18px; padding:5px;}
.search-list-1 {margin-bottom:20px;}
.search-list option {color:#111; border:none; font-size: 18px;}
.btn-myAgency {border:none; background: transparent url(../../images/agency.png) no-repeat left; padding:40px; color:#fff; font-size: 16px; }
.btn-search {background:#ffd903; font-size:18px; padding:15px; width: 100%; font-weight: bold; outline: none; border:none;}

/* small pc - layout */
@media screen and (max-width: 1200px) {
.header .gnb-area > li {width: 140px;}
.btn-agency {padding-left:20px; padding-right:70px;}
}

/* tablet 1080- layout */
@media screen and (max-width: 1080px) {
  .headerContainer {height:66px !important;}
  .headerContainer:hover {background:rgba(248,248,248,0.8)}
  .header {padding: 0 32px; text-align:justify;}
  .header .logoWrap {width:120px; line-height: 66px; z-index: -999; position:relative; left:50%; margin-left:-60px; }
  .header .gnbWrap {width:328px; height:100%; display: inline-block; margin-left:0px; position:fixed; left:-328px; top:0; background: #fefefe; overflow-y: auto;}
  .header .gnbWrap::-webkit-scrollbar {display: none;}
  .header .gnb-area  {position:static; padding-top:20px;}
  .header .gnb-area > li {width:100%; height:auto; position:relative; float:none; border-right:none; position: relative;}
  .header .gnb-area > li > p { font-size:16px; line-height: 56px; padding:0 16px;}
  .header .gnb-area > li:first-child {border-left:none;}
  .header .gnb-area:hover > li {border-right:none; height:auto;}
  .header .gnb-area:hover> li:first-child {border-left:none;}
  .header .gnb-area > li:hover {background:transparent;}
  .header .gnb-area > li:hover > p {color:#000;}
  .header .gnb-area > li:before {height:0px; display: none;}
	 .header .gnb-area > li:after {content:"";  display: block; width: 12px; height:12px; background:url(../../images/plus.svg) no-repeat; position:absolute; top:20px; right:20px;}
  .header .gnb-area > li:hover:before {width:0%;}
  .header  .lnb-area > li  > p{ padding: 15px 0;}
  .header .lnb-area {background: #fcfaf6; padding:5px 25px; display:none; }
  .header .back-bg { background: rgba(0,0,0,0.5); position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; z-index:-1; display: none;}
  .close-nav-btn { position:absolute; right:336px; top:20px; padding:10px;}
  .close-nav-btn img {width:34px; }
	.menu-btn {display: block; position:absolute; top:0px; left:0px; padding:17px 14px; z-index: -999;}
	.menu-btn img {width: 30px;}
	/* gnb-off */
	.header  .gnb-area > .gnb-list.on .lnb-area {display: block;}
  .header .gnb-area > .gnb-list.on:after {content:"";  display: block; width: 12px; height:12px; background:url(../../images/minus.svg) no-repeat; position:absolute; top:20px; right:20px;}
.mobile-nav-top {display: block; padding:0 16px 19px 16px; border-bottom:1px solid #ddd; }
.mobile-nav-top img { width:120px; }
/* 지점찾기 */
.btn-agency {padding-left:20px; padding-right:20px; height:66px;}
.btn-agency:after {display: none;}

}
/* tablet 991- layout */
@media screen and (max-width: 991px) {

}

/* tablet 575- layout */
@media screen and (max-width: 575px) {
	.header .gnbWrap {width:250px; right:-250px;}
  .search-agency-area { width:100%; }
}


/*========================= 추가 ========================= */
/* pc - layout */
.top-stop {top:88px;}
.footer-font {font-size:15px;}
.f-core {font-family: 'S-CoreDream';}
.f-nanum {font-family: "Nanum Barun Gothic" ;}
.f-18 {font-size:18px;}
.f-14 {font-size:14px;}
.lnb-list { display:flex; justify-content: center; background: #fff; border-top:1px solid #111; border-bottom:1px solid #111; }
.c-gray {color:#c9c9c9;}
.c-orange {color:#ff9000;}
.border-left {padding-right:20px; border-right:1px solid #888;}
small {font-size: 14px;}
.col_1 {color: #111;}

/* tablet 1080- layout */
@media screen and (max-width: 1080px){
  .top-stop {top:66px;}

}

/* tablet 766- layout */
@media screen and (max-width: 766px) {
  .footer-font {font-size:13px;}
  small {font-size: 12px;}
}
/* tablet 320- layout */
@media screen and (max-width: 320px) {
.btn-agency {padding: 0 10px;}
}

/*========================= main ========================= */
/* pc - layout */

.main-height {height: 766px}
.main-title {font-size: 40px;}
.main-p {font-size: 18px; font-family: "S-CoreDream";}

.business-area {background:#ffea60 url(../../images/bg_2.jpg) no-repeat left top; height: 560px;}
.business-list {list-style: none; float: right; padding-top:60px; box-sizing: border-box;}
.business-list li {width: 690px; padding-top:60px; padding-bottom:88px;padding-left:80px;}
.business-list li:nth-child(1) {border-bottom:1px solid #fff7c1; background: url(../../images/icon_01.png) no-repeat left 60px;}
.business-list li:nth-child(2) {background: url(../../images/icon_02.png) no-repeat left 60px;}
.business-h4 {font-size: 24px; letter-spacing: -0.12rem;}
.business-p {color:#111; font-size: 24px; font-family: "S-CoreDream"; letter-spacing: -0.12rem;}

.content-area {padding:80px 0;}
.content-area:after {content:""; display: block; clear: both;}
.content-area > div {width: 48%; height:390px; padding: 26px 34px; box-sizing: border-box; }
.news-area {float:left; background: #eee url(../../images/bg_3.png) no-repeat right bottom; border:1px solid #e3e3e3; }
.content-h4 {font-size: 30px; padding-bottom:30px;}
.news-list {list-style: none; padding:0; margin:0;}
.news-list li {display: flex; justify-content: space-between; border-bottom: 1px dashed #fff; padding: 6px 0;}
.news-list li p {font-size: 15px; margin-bottom:0px; overflow: hidden; white-space:nowrap; text-overflow: ellipsis; width:calc(100% - 110px);}
.news-list li span {font-size: 15px; color:#a2a2a2; width: 110px; text-align: right;}
.btn-news-more-area {padding-top:80px;}
.btn-news-more {height:55px;padding:0 62px 0 32px;  background:#ffd903; border:1px solid #f3c528; border-radius:50px; font-size: 18px; font-family: "S-CoreDream"; position:relative; box-shadow: 0px 6px 14px 3px rgb(0 0 0 / 13%);}
.btn-news-more:after {content:"+"; color:#dc7a1a; font-size: 30px; position:absolute;     right: 23px; top: 1px; }

.job-area {float:right; background: #ffd802 url(../../images/bg_4.jpg) no-repeat right bottom; border:1px solid #ebca12; font-family: "S-CoreDream"; }
.jop-p {font-size: 29px; color:#fff; margin-bottom:0; margin-top:-10px;}
.btn-job-more-area {padding-top:67px;}
.btn-job-more {height:55px;padding:0 62px 0 32px;  background:#fff; border:1px solid #c7a801; border-radius:50px; font-size: 18px; font-family: "S-CoreDream"; position:relative; box-shadow: 0px 6px 14px 3px rgb(0 0 0 / 10%);}
.btn-job-more:after {content:"+"; color:#dc7a1a; font-size: 30px; position:absolute;     right: 23px; top: 1px; }

.service-area {background:#eeeeee; padding:80px 0; letter-spacing:-0.12rem;}
.service-area:after {content:""; display: block; clear:both;}
.servic-h4 {font-size: 32px; padding-bottom:10px;}
.servic-p {font-size: 21px;  font-family: "S-CoreDream";}
.serevice-icon-area {list-style: none; padding-left:0; padding-top:60px; margin:0 auto; width:100%;}
.serevice-icon-area:after {content:""; display: block; clear:both;}
.serevice-icon-area li {float: left; width: 96px; text-align: center; margin-right:60px;}
.serevice-icon-area li img {width:90%;}
.serevice-icon-area li span {display: block; padding-top:15px; font-size: 18px; font-family: "S-CoreDream"; }


/* tablet 1199- layout */
@media screen and (max-width: 1199px){
.serevice-icon-area li {margin-right:30px;}
}


/* tablet 991- layout */
@media screen and (max-width: 991px){
.content-area > div {width: 100%;}
.news-area {float: none; margin-bottom:30px;}
.job-area {float: none;}
.btn-news-more-area , .btn-job-more-area{text-align: center;}
.serevice-icon-area {padding-top:30px;}
.serevice-icon-area li {margin-right:3px;}
.serevice-icon-area li img {width:75%;}
.serevice-icon-area li span {font-size: 15px;}
}

/* tablet 767- layout */
@media screen and (max-width: 767px){
.business-list {padding-top:0; padding-right: 2rem;}
.business-list li {width: 100%;}
.serevice-icon-area li {margin-right:30px; margin-bottom:10px;}
}


/* tablet 766- layout */
@media screen and (max-width: 766px) {
.main-height {height: 566px;}
.main-title {font-size: 35px;}
.main-p {font-size: 16px;}
.content-h4 {font-size: 24px;}
.servic-h4{font-size: 26px;}
.servic-p {font-size: 18px;}
.swiper-container-horizontal > .swiper-pagination-bullets {bottom:24px;}
}

/* tablet 575- layout */
@media screen and (max-width: 575px) {
.btn-agency{font-size: 14px;}
.search-list-tit {font-size: 16px;}
.search-list select {font-size: 14px;}
.search-list option {font-size: 14px;}
.btn-search {padding:10px;}
.main-title {font-size: 6vw;}
.business-list {position: absolute; top: 50%;transform: translateY(-50%);}
.business-list li {padding-bottom:60px; }
.jop-p {font-size: 24px;}
.business-p {font-size: 20px;}
.serevice-icon-area {width:348px; margin:0 auto; padding-top:30px;}
.serevice-icon-area li:nth-child(3n) {margin-right:0;}
.servic-h4 {text-align: center;}
.servic-p {text-align: center;}
}

/* tablet 390- layout */
@media screen and (max-width: 390px) {
.main-p {font-size: 4.2vw;}
.serevice-icon-area li:nth-child(3n) {margin-right:30px;}
.serevice-icon-area {width: 252px;}
}
/*===== end ===== */
