@charset "UTF-8";

/*====================  main-page ====================*/
/*========== intro-area ==========*/
.intro-list img {width:80px; margin-bottom:30px;}
.intro-list {padding-top: 2rem;}
.intro-list li {width: 370px;text-align: center;}
/*========== web-area ==========*/
.web-area .text-box {padding-left:130px;}
.img-box {position: relative; width: 740px; height: 470px;}
.img-box .img-pc {position:absolute; top:0; left:0px;}
.img-box .img-mobile {position:absolute; top:93px; right:0px;}
/*========== mobile-area ==========*/
.mobile-area {text-align: center;}
.mobile-area .deco {background: #fff; margin-left:auto; margin-right:auto; margin-top:0;}
.mobile-area .btn-go {color:#fff; margin-left:-36px;}
.mobile-area .btn-go:after {background: #fff;}
.mobile-area .content-box {padding-top:50px; display: flex; justify-content: flex-end; align-items: center;}
.mobile-area .content-box img {padding-left: 20px;}
.mobile-area .content-box img:nth-child(3) {opacity: 0.9;}
.mobile-area .content-box img:nth-child(4) {opacity: 0.4;}

/*========== design-area ==========*/
.design-area li {float:left; background: #fff; box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1); border-radius: 40px; width:28%; text-align: center; padding: 40px; box-sizing: border-box;}
.design-area li:nth-child(2) {margin-top:200px; margin-left: 7%;}
.design-area li:nth-child(3) {margin-top:400px;  margin-left: 7%; }
.design-area .logo-box {width: 120px; height: 120px; border-radius: 50%; overflow: hidden; margin:0 auto; position:relative; animation: circle linear 0.5s infinite alternate;}
.design-area li:nth-child(2) .logo-box {animation-delay: 1.7s;}
.design-area li:nth-child(3) .logo-box {animation-delay: 2.7s;}
.design-area .logo-box img {width: 100%;}
.design-area span {display: block; padding: 30px 0px;}
.design-area .btn-site {font-size:1.2rem; margin-top: 40px; background: #687ef8; color:#fff; border-radius: 30px; width:100%; padding: 15px; }
.design-area .btn-site:hover {background:#4a65ff; }
@keyframes circle {
  0%{top:-5px;}
  100%{top:5px;}
}
/*========== illust-list ==========*/
.illust-list li {width: 23%; height: auto; position: relative; overflow: hidden; cursor: pointer;}
.illust-box img {width: 100%; display: block;}
.mask-box {width:100%; height: 100%; background:rgba(104,126,248,0.9); position: absolute; top:0; left:0; transition:0.5s; color:#fff; font-size:1.3rem; text-align: center; padding-top:150px;}
.illust-list li:hover .mask-box {background:rgba(104,126,248,0); transition:0.5s; color:transparent;}
.illust-list li:hover .illust-box img  {transform: scale(1.1); transition:0.5s;}


/*========== popup ==========*/
.over-pop {padding-top:30px;}
.pop-img img{ display: block; margin:0 auto; width:60%;}
.over-pop .close {position:fixed; top:50px; right:50px;}
.over-pop .close img {width:40px; height:40px; display: block;}

.tablet-area h5 {font-size:20px; font-weight:400; position:absolute; left: 30px; top:30px; z-index: 50;}
.tablet-area {width:1168px; margin:0 auto; position:relative; padding-bottom:50px;}
.tablet-area .tablet-img {display: block; width:800px; height: 534px; margin:0 auto;}
.tablet-area .illust-mask {width:752px; height:485px;  border-radius: 10px; overflow: hidden;
                   position: absolute; left:50%; transform: translateX(-50%); top:19px;}
.tablet-area .illust {width:4512px; position:relative; left:0;}
.tablet-area .illust li{ float:left;  }
.tablet-area .illust li img {width:752px;  height:100%; display: block; }
.over-pop .button .prev,
.over-pop .button .next
{position:absolute; top:50%; transform:translateY(-50%); cursor:pointer;}
.over-pop .button .prev {left:120px;}
.over-pop .button .next {right:120px;}

.popup { width:100%; display: none; position:fixed; top:0; bottom:0; left:0; right:0; z-index: 999; overflow:auto; background:rgba(0,0,0,0.6);}
.btn-close {display: block; position: fixed; right:20px; top:10px; width:70px; height:70px; z-index: 102; text-indent:-9999px;}
.btn-close:before {content:""; display:block; position:absolute; right:9px; top:30px; background:#fff; width:50px; height:2px; transform: rotate(45deg);}
.btn-close:after {content:""; display:block; position:absolute; right:9px; top:30px; background:#fff; width:50px; height:2px; transform: rotate(-45deg);}
.popup-img { width: 100%;}
.popup-img img {width: 70%; max-width:1400px; margin:0 auto; display:block;}
