@charset "UTF-8";

.in {padding:0 15px;}
/* visual */

/* .visual li {position:relative;}  */
.visual {max-width:100%;}
.visual img, .visual a,.banner img, .banner a {display: block;}
.visual .visual_txt {position:absolute; left:40px; top:40px;width:50%;}
.visual .visual_txt h2 {font-size:9vw; padding-bottom:10px; font-weight: 400;}
.visual .visual_txt p {font-size:4vw; line-height:5vw;}
.visual .visual_list2 .visual_txt{width:65%;}
.visual .visual_list2 strong {font-size:9vw;}
.visual .visual_list2 span {color:#df0025;}
.visual .visual_list3 .visual_txt{padding:20px; left:0; top:0;
                              background: rgba(84,46,10,0.8); color:#fff;}
.visual .visual_list3 .visual_txt h2 {font-weight: 300;}
.visual .visual_list3 .visual_txt p {font-weight: 200; line-height:6vw;}


.quick_menu {width:100%; margin-bottom: 15px;}
.quick_menu_list{ color:#fff; text-align: center; background:#055344;}
.quick_menu_list li { float:left; width:20%; padding:10px 0;}
.quick_menu_list li div {padding-bottom:7px; font-size: 5vw;}
.quick_menu_list li.on {background:#004134;}
/* main content */
section {background:#fff; border-bottom:1px solid #c0cec0; margin-bottom: 30px;}
.sect_tit {color:#055344; font-size: 6vw; text-align: center; padding:30px 0 15px; font-weight: 400;}
.text_cont .name {font-size: 14px; padding:10px 0 7px; font-weight: 400;}
.text_cont .price {font-size: 18px; padding-bottom:15px;  font-weight: 700;}

/* new */
.new .new_list li{float:left; width:48%; margin-right:4%; padding-bottom: 20px;}
.new_list li:nth-child(2n) {margin-right:0;}

/* best */
.best {padding-bottom: 20px;}
.best_area {padding-bottom: 30px;}
.best .text_cont {padding-left:15px;}
.best .best_list li{float:left; width:60%; margin-right:2%;
                    border:1px solid #dbe5db; position: relative;}
.best li h3 {font-size: 6vw; color:#055344;  position:absolute; top:8px; left:8px;}

/* banner */
.banner {width:100%; position: relative;}
/* .banner1 a img{display: block;} */
.banner, .banner2 {position: relative;}
.banner .banner_txt {position: absolute; top:15px; left:15px; color:#fff;}
.banner .banner_tit {font-size: 6vw; padding-bottom:7px;}
.banner .banner_txt p {font-size: 14px; font-weight: 400; width:60%;}



/* end */
